:root {
  --darkbkg: rgb(27, 26, 26);
  --textclr: rgb(233, 232, 230);
  
}

* {
  background-color: var(--darkbkg);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--darkbkg);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--darkbkg);
  color: var(--textclr);
  border-radius: 0;
  border-bottom: 10px solid var(--textclr);
}

.description {
  white-space: pre-wrap;
}

.container {
  justify-content: end;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--darkbkg);
  flex-wrap: nowrap;
}

.hour {
  background-color: var(--darkbkg);
  color: var(--textclr);
  border: 0px;
  border-radius: 0px;
  border-top: 1px dashed var(--textclr);
}

.form-control {
  border: 0px solid var(--darkbkg);
  border-radius: 0px;
}

.past {
  background-color: #d3d3d3;
  border-left: 4px solid #a1a0a0;
  /* color: white; */
}

.past:focus {
  background-color: #d3d3d3;
  /* color: white; */
}

.present {
  background-color: #ff6961;
  border-left: 4px solid #d64c44;
  /* color: white; */
}

.present:focus {
  background-color: #ff6961;
  /* color: white; */
}

.future {
  background-color: #77dd77;
  border-left: 4px solid #54b854;
  /* color: white; */
}

.future:focus {
  background-color: #77dd77;
  /* color: white; */
}

.saveBtn {
  border: 0px;
  border-left: 4px solid #088ba8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #27c7eb;
}

